<li id="item-<%= item.id %>">
  <%= link_to gravatar_for(item.user, size: 50), item.user %>
  <span class="name"><%= link_to item.name, item_path(item) %></span>
  <span>
    <%= link_to((image_tag item.picture.thumb200.url), item_path(item.id), class: 'item-picture') if item.picture.url.present? %>
  </span>
  <span class="description"><%= item.description %></span><br>
  <span class="recommend_degrees">おすすめ度：<%= item.recommend_degrees %></span><br>
  <span class="reference"><%= link_to "商品URL", item.reference, target: :_blank %></span>
  <span class="timestamp">
    <%= time_ago_in_words(item.created_at) %>前に投稿
  </span>
  <% if current_user.admin? || (current_user == item.user) %>
    <%= link_to "削除", item_path(item), method: :delete,
                       data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</li>